.main-title {
    font-family: "Bariol Bold";
    text-align: center;
    /*text-decoration: underline;*/
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.main-title-exc {
    color: #ca72ff;
    /*color: #dc6259;*/
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

body {
    color: #474747;
    background-color: #efefef;
}


/* Custom size */

.button-small {
    font-size: .8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
}

#song-table {
    background-color: white;
    padding: 5px;
}

.volume-control {
    width: 100px;
}