/*
    Prismatic Styles

    0: Body
    1: Selection Handling
    2: Song Table

*/


/* 0: Body */

body {
    color: #474747;
    background-color: #efefef;
}


/* -------------------- */


/* 1: Selection Handling */

.main-title {
    font-family: "Bariol Bold";
    text-align: center;
    /*text-decoration: underline;*/
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.main-title-exc {
    color: #ca72ff;
    /*color: #dc6259;*/
    -webkit-user-select: none;
    -webkit-app-region: drag;
}


/* -------------------- */


/* 2: Song Table */

#song-table {
    background-color: white;
    padding: 5px;
}

#song-table>tr {
    height: 30px;
    font-size: 11px;
}

#song-table>thead {
    height: 30px;
    font-size: 14px;
    font-weight: bold;
}

#song-table>thead>tr>th {
    padding: initial;
}

#song-table {
    padding: initial;
}

#song-table>thead>tr {
    background: linear-gradient(to top, #f8f8f8, #ffffff);
}

#song-table>thead>tr>th {
    border-top: 1px solid #e2e2e2;
    border-left: 1px solid #c4c4c4;
    padding-left: 4px;
    padding-bottom: 3px;
}

#song-table>thead>tr>:first-child {
    border-left: initial;
    padding-left: 4px;
    padding-bottom: 3px;
}

#song-table>tbody>tr:hover {
    background: linear-gradient(to top, #af79d1, #d084ff) !important;
    -webkit-text-fill-color: white;
}

.playable {
    cursor: pointer;
}

#song-table>tbody>tr>td {
    font-size: 12px;
    padding: initial;
    padding-bottom: 1px;
    padding-top: 2px;
}

#song-table>tbody>tr:nth-child(odd) {
    background-color: #fafafa;
}

#song-table>tbody>tr:nth-child(even) {
    background-color: white;
}


/* -------------------- */

#canvas {
    height: 100%;
    width: 100%;
}

.preventSelection {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.songTimer {
    font-size: 1.4rem;
    overflow-x: hidden;
}


/* Custom size */

.button-small {
    font-size: .8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
}

.music-explorer {
    width: 100%;
}

.volume-control {
    width: 100px;
}

.play-control {
    /*margin-left: 3px;*/
    cursor: pointer;
}

.headerRow>div.column {
    padding-top: 8px;
}

.headerRow>div.column:last-child {
    padding-top: 0px;
}

.song-name {
    text-align: center;
}

.custom-track::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    /*background: linear-gradient(to right, #ca72ff 50%, #E3E3E3 50%);*/
    border-radius: 1px;
    border: 0px solid #000000;
}

.default-track {
    background: #E3E3E3;
}

#progressTimeTracker {
    color: #9b4dca;
}

.meter {
    height: 20px;
    /* Can be anything */
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

span.meterSpan {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43, 194, 83);
    background-image: linear-gradient( center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}

hr {
    margin: 8px;
}