<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Prismatic!</title>
    <link rel="stylesheet" href="styles/milligram/dist/milligram.min.css">
    <link rel="stylesheet" href="styles/fonts/bariol-bold/style.css">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/volume-control.css">
    <link rel="stylesheet" href="styles/font-awesome/css/font-awesome.min.css">
</head>

<body ng-app="main" ng-controller="mainController">
    <div class="container">
        <h3 class="main-title">{{ title }}<span class="main-title-exc">!</span></h3>
        <div class="row headerRow">
            <div class="column column-25">
                <div class="row">
                    <div class="column column-100" class="preventSelection" unselectable="on" onselectstart="return false;" onmousedown="return false;">
                        <div class="row">
                            <i class="column column-10" aria-hidden="true"></i>
                            <i class="column column-10 fa fa-backward play-control" aria-hidden="true"></i>
                            <i class="column column-10 fa fa-play play-control" aria-hidden="true" ng-show="!isPlaying" ng-class="playStatus()" ng-click="playMusic()"></i>
                            <i class="column column-10 fa fa-pause play-control" aria-hidden="true" ng-show="isPlaying" ng-click="pauseMusic()"></i>
                            <i class="column column-10 fa fa-forward play-control" aria-hidden="true"></i>
                            <div class="column column-5"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column column-10">
                        <i class="fa fa-volume-up play-control" ng-class="mutedStatus()" aria-hidden="true" ng-click="mute()"></i>
                    </div>
                    <div class="column column-90">
                        <div class="volume-control">
                            <input class="default-track" type="range" ng-model="volume">
                        </div>
                    </div>
                </div>
            </div>
            <div class="column column-50">
                <div class="row">
                    <div class="column column-25">
                        <div class="column">
                            <i class="fa fa-repeat" aria-hidden="true"></i>
                            <i class="fa fa-random" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="column column-50 song-name">
                        <div class="column">
                            <label for="song-name">{{ songName }}</label>
                        </div>
                    </div>
                    <div class="column column-25 songTimer">
                        <div id="info">{{ currentTimer }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="column column-25">
                        <div class="visualiser">
                            <div id="visualizer_wrapper">
                                <canvas id="canvas" height="75"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="column column-50">
                        <input id="inputTimeTracker" type="range" class="custom-track" ng-model="_time" ng-style="{ background: updateProgressBarStyle() }" ng-mousedown="startSeek()" ng-change="seek()" ng-model-options="{ debounce: 400  }" min="0" max="{{durationInSeconds}}">
                    </div>
                    <div class="column column-25">

                    </div>
                </div>
            </div>
            <div class="column column-5">
                <i class="fa fa-list" aria-hidden="true"></i>
            </div>
            <div class="column column-20">
                <input type="text" placeholder="Search" ng-model="searchFilter">
            </div>
        </div>
        <hr />


    </div>
    <div class="music-explorer preventSelection">
        <div class="row">
            <div class="column">
                <table id="song-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Track</th>
                            <th>Duration</th>
                            <th>Artist</th>
                            <th>Album</th>
                            <th>Genre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="song in songList">
                            <td></td>
                            <td class="playable" ng-dblclick="setSong(song.track)">{{ song.track }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr />
    <div class="container">
        <input id="youtube-download-link" ng-model="youtubeDownloadLink" type="text">
        <button id="download-youtube" name="download-youtube" ng-click="youtubeDownloadSong()">Download</button>
        <div>{{ youtubeDownloadInProgress }}</div>
        <audio id="prismatic-audio" controls style="display: none">
        
            <source ng-cloak ng-src="{{ currentSong }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>


    <script src="http://localhost:35729/livereload.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="../node_modules/pad-left/index.js"></script>
    <script src="components/app.js"></script>
    <script src="components/main/mainController.js"></script>
    <script src="lib/amplitude/amplitude.min.js"></script>
    <script type="text/javascript" src="lib/html5-audio-visualizer/html5-audio-visualizer.js"></script>
</body>

</html>